body{
    text-align:left;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.356);
    padding: 10px 0px 20px 10px;
}

.textDir,.linkDir{
    margin-left: -24px;
    padding: 10px;
}

.textPrincipal{
    background-color: white;
    min-height: 800px;
    padding-left: 10px;
}

.textDir{
    background-color: rgba(0, 0, 0, 0.103);
    margin-left: -25px;
    min-height: 800px;
    padding-left: 10px;
}

.linkDir{
    background-color: rgba(0, 0, 0, 0.192);
    min-height: 800px;
    padding-left: 10px;
}

.linkDir p{
    margin-bottom: 10px;
}

.rodape{
    background-color: rgba(0, 0, 0, 0.356);
    text-align: center;
    padding: 20px 0px 10px 0px;
}

