body{
    text-align:left;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.356);
    padding-left: 20px;
}

.textPrincipal{
    background-color: white;
    min-height: 800px;
    padding-left: 10px;
}

.textDir{
    background-color: rgba(0, 0, 0, 0.103);
    margin-left: -25px;
    min-height: 800px;
    padding-left: 10px;
}

.linkDir{
    background-color: rgba(0, 0, 0, 0.192);
    margin-left: -25px;
    margin-right: -12px;
    min-height: 800px;
    padding-left: 10px;
}

.rodape{
    background-color: rgba(0, 0, 0, 0.356);
    text-align: center;
    padding: 10px;
}

