.topicoPrincipal{
    padding-top: 70px;
}

.helloWorld{
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 10px;
    padding: 40px;
    margin: 80px 10px 20px 10px;  
}

.helloWorld h1{
    font-size: 60px;
}

.carta{
    text-align: justify;
    margin:20px 5px 20px 5px;
}

.links{
    margin-top:80px;
    margin-right: 20px;
}