body {
    color: #000000;
    background-color: #E0FFFF;
}

h1 {
    color: #F5FFFA;
    background-color: #9400D3;
    font-size: 24pt;
    text-align: center;
}

h2 {
    font-size: 24pt;
    text-align: left;
}