body {
    font-size: 120%;
    color: #000000;
    background-color: #F2FFFC;
}

h1 {
    color: #FFF;
    background-color: #851944;;
    font-size: 24pt;
    text-align: center;
}

h2 {
    font-size: 24pt;
    text-align: left;
}

p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
}