*{
    margin: 0;
    padding: 0;
    border: none; outline: none;
    box-sizing: border-box;
}

/*deficção container*/
.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/*navbar*/
.navbar{
    display: flex;
    flex-basis: 100%;
    background-color: #2D2D29;
    padding: 5px 20px 5px 20px;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.navbar-item{
    display: inline;
}

.navbar-titulo a{
    font-family: 'Sen',sans-serif;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.imagem-perfil{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.row{
    display: flex;
}

/*coluna esquerda*/
.coluna-turma{
    display: flex;
    flex-basis: 10%;
    background-color: #97B3E9;
    flex-direction: column;
    flex-grow: 2;
}

.coluna-item{
    margin-bottom: 15px;
}

.coluna-lista{
    padding-top: 30px;
}

#coluna-topico{
    background-color: #2541D0;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    margin-right: 10px;
}

#coluna-topico a{
    color: white;
    text-decoration: none;
}

#coluna-subtopico{
    background-color: #5A7FDF;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    margin-right: 25px;
}

#coluna-subtopico a{
    color: white;
    text-decoration: none;
}

/*config da home page*/
/*cards das turmas*/
.turma-card{
    display: flex;
    flex-basis: 90%;
    background-color: #e7eaf1;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-around;
    min-height: 820px;
}

.card{
    background-color: #D1D8E4;
    margin: 30px;
    min-height: 160px;
    border-radius: 10px;
    max-height: 200px;
}

.card-item{
    padding: 10px;
    padding-left: 20px;
    max-width: 270px;
    text-align: justify;
}

.card-item a,li{
    font-family: 'Sen', sans-serif;
    color: black;
    text-decoration: none;
}

#titulo-card{
    font-size: 130%;
}

.banner-imagem{
    width: 300px;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
}

/*config dos botões*/
.button-card{
    border: none;
    padding: 10px;
    font-size: 100%;
    border-radius: 10px;
    background-color: #D1D8E4;
}

/*config da pagina de registro*/
.container-registro{
    display: flex;
    height: 700px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 113px;
}

#cod{
    background-color: #C4C4C4;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    width: 174px;
}

@media only screen and (max-width: 650px) {

    .row{
        display: grid;
        width: 100vw;
        margin-top: 50px;
    }

    .navbar{
        position: fixed;
        width: 100vw;
    }
    
}

.registro{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: left;
    background-color: black;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}

.registro-texto,.registro-titulo{
    color: white;
    font-family: 'Sen',sans-serif;
    margin: 15px 0px 15px 0px;
}

.registro-titulo{
    font-size: 48px;
}

.registro-texto{
    font-size: 24px;
}

.registro-campo{
    padding: 12px;
    background-color: black;
    border: none;
    outline-style: none;
    color: white;
}

.registro-button{
    padding: 12px 30px;
    width: 40%;
    margin-top: 30px;
    background-color: #6C69DC;
    font-family: 'Sen',sans-serif;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    flex-shrink: 1;
}

/*Postagem*/

/*topo da pagina de postagem*/
.top-pag{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: ro;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

.top-pag-item{
    display: inline-block;
}

.top-pag-item a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* titulo da pagina de postagem*/
.titulo-turma-post{
    display: flex;
    flex-basis: 100%;
    background-color:#D1D8E4;
    margin: 0px 200px;
    padding: 20px;
}

.titulo-post-item{
    padding: 10px;
}

.titulo-post-item a{
    color: black;
    text-decoration: none;
}


/*a postagem*/

.imagem-perfil-post{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

/* comentario da postagem */

.imagem-perfil-coment{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/*rodape*/
.rodape{
    display: flex;
    flex-basis: 100%;
    background-color: #2D2D29;
}

.rodape a{
    font-family: 'sen',sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;
}

body{
    background-color: #9490C9;
}
