.tituloNavbar{
    padding-left: 10px;
}

.principal{
    background-color: rgba(0, 0, 0, 0.144);
    padding-top: 60px;
    padding-bottom: 30px;
}

.principal h1{
    font-size: 90px;
}

.carta{
    padding-top:20px;
    padding-bottom: 20px;
}